@inject  WWW.Jobs.Jobs.EventApiJob_ParseToDb eventparse;
<a id="ASideBar" data-bs-target="#AdminSideBar" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" class="btn btn-primary bg-black shadow-none" >
    ⨠
</a>
<div id="AdminSideBar" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-black ">
        <h5 class="offcanvas-title text-color-white" id="offcanvasExampleLabel">Admin SibeNavBar</h5>
        <button type="button" class="btn-close text-reset bg-white" style="border-radius:0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ">
        <div class="bg-gray-800 ">
            Temporary
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Creation Forms
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                <li><a class="dropdown-item" asp-controller="Category" asp-action="Create">Create Category</a></li>
                <li><a class="dropdown-item" asp-controller="Article" asp-action="Create">Create Article</a></li>
            </ul>

            <a class="dropdown-item" id="Parce_Events" href="" > Parse Data</a>
            
            <a class="dropdown-item" href="/hangfire">Hangfire Dashboard</a>
            <a class="dropdown-item" href="/swagger">Swagger</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.querySelector("#Parce_Events").onclick=> (){
        @{
            await eventparse.ExecuteAsync();
        }
                location.reload();
        }
    </script>
    
}
<style>
    #ASideBar{
        z-index: 10;
        border-right: 1px solid yellow;
        border-top: 1px solid yellow;
        border-bottom: 1px solid yellow;
        border-radius: 0;
        margin-top: 1%;
        position: fixed;
    }
</style>
