@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <h1 class="display-4 text-white">Shalom!</h1>
    <p>
        EventTracker is a website that helps users discover and plan events in their local area. The website will have a searchable database of events, such as concerts, festivals, and art exhibits, that users can browse and filter by date, location, and category.
    </p>
</div>
