@using System.Reflection;
@using WWW.Domain.Entity;
@using WWW.Domain.Response;
@using WWW.Domain.ViewModels.Article
@model dynamic;
@{
    ViewData["Title"] = "Page For Tests";
    var test = new ArticleViewModal();
}
<h1>@ViewData["Title"]</h1>

   <h1>@Model</h1>

<p>Use this page to detail your site's privacy policy.</p>

