@using WWW.Domain.Entity;
@using WWW.Domain.Response;
@model BaseResponse<IEnumerable<Article>>;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@Model.StatusCode
@foreach(var i in Model.Data)
{
    @i.Title;<br>
}
<p>Use this page to detail your site's privacy policy.</p>

@*@Model.ElementAt(1).Name*@
