@using WWW.Domain.Entity;
@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


@foreach(var i in Model)
{
    @i.Name;<br>
}
<p>Use this page to detail your site's privacy policy.</p>

@*@Model.ElementAt(1).Name*@
