@{
    ViewData["Title"] = "Page For Tests";
}
<div class="row p-1">
    <div class="col-6 text-end">
        <input type="button" id="getButton" value="Get Data" />
    </div>
</div>
<hr></hr>
<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="DataList">
                <li>1</li>
            </ul>
        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SingalR/data.js"></script>
