@*@model string*@
@{
    ViewData["Title"] = "Page For Tests";
}
@*<h1>@ViewData["Title"]</h1>
<span>@Model</span>*@


<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

@*@inject ICategoryRepository _categoryRepository;*@
@*@foreach (var i in await _categoryRepository.GetAll())
{
    <h1>@i.Name</h1>
}*@
@*<img src="@Url.Action("GetImageByUrl", "Help", new { url = "https://s1.ticketm.net/dam/a/210/c403ed95-3d6d-4de8-895a-25b9d8958210_TABLET_LANDSCAPE_LARGE_16_9.jpg" })" alt="Image" />*@
